include ../layouts/layout.pug

block content
    h1 conversation, ye say?:
    br

    if conversations
        div.conversation-container
            each conversation in conversations
                if( conversation.user1.id != currentUserId )
                    a(href="/messages/#{conversation.id}")
                        img( src=conversation.user1.profile_img_url )
                        p #{ conversation.user1.user_name }
                if( conversation.user2.id != currentUserId )
                    img( src=conversation.user2.profile_img_url )
                    p #{ conversation.user2.user_name }
