extends ../layouts/layout

block headerscripts

block content
    include ../layouts/includes/nav
    #main
        .profile__main
            .profile__main-wrapper
                .profile__main-avatar
                    img(src=userInfo.profile_img_url alt="profile image")
                .profile__main-info
                    h3.profile__main-name(data-id=userInfo.UserId)= username
                    p.profile__main-info Female
                    p.profile__main-location Atlanta, GA
                    if auth == true
                        form(action='/messages/'+userInfo.UserId)
                            button.profile__main-message Message
        .main__books
            .main__bookshelf
                if userInfo.bookCollection.reading.length > 0
                    h1.bookshelf__title Reading
                    .bookshelf__reading
                        for item in userInfo.bookCollection.reading
                            - var imgurl = item['img_url']
                            - var title = item['title']
                            - var author = item['author']
                            - var bookid = item['bookId']
                                .main__books-wrapper(data-id=bookid, data-title=title, data-author=author, data-imgurl=imgurl)
                                    img.books__image(src=imgurl alt="image")
                                    p.books__title= title
                                    p.books__author by #{author}
                if userInfo.bookCollection.read.length > 0
                    h1.bookshelf__title Read    
                    .bookshelf__read
                        for item in userInfo.bookCollection.read
                            - var imgurl = item['img_url']
                            - var title = item['title']
                            - var author = item['author']
                            - var bookid = item['bookId']
                                .main__books-wrapper(data-id=bookid, data-title=title, data-author=author, data-imgurl=imgurl)
                                    img.books__image(src=imgurl alt="image")
                                    p.books__title= title
                                    p.books__author= author
                if userInfo.bookCollection.wantToRead.length > 0
                    h1.bookshelf__title Want to Read
                    .bookshelf__want-to-read
                        for item in userInfo.bookCollection.wantToRead
                            - var imgurl = item['img_url']
                            - var title = item['title']
                            - var author = item['author']
                            - var bookid = item['bookId']
                                .main__books-wrapper(data-id=bookid, data-title=title, data-author=author, data-imgurl=imgurl)
                                    img.books__image(src=imgurl alt="image")
                                    p.books__title= title
                                    p.books__author= author
        .sidebar__users
            .sidebar__button-close
                i.fa.fa-times.fa-1x(aria-hidden="true")
            .sidebar__heading

            .sidebar__book-wrapper

            .sidebar__user-wrapper


block footerscripts
