extends ../layouts/layout

block headerscripts

block content
    #main
        .sidebar__user
            .sidebar__user-wrapper
                .sidebar__user-avatar
                    img(src=profileImage alt="profile image")
                .sidebar__user-info
                    h3.user__name= username
                    p.user__info Female
                    p.user__location Atlanta, GA
                    button.user__message Message
        .main__books
            h1 Bookshelf 
            .main__bookshelf
                .bookshelf__reading
                    for item in results
                        if item['Books.UserBook.status'] == 'reading'
                            - var imgurl = item['Books.img_url']
                            - var title = item['Books.title']
                            - var author = item['Books.author']
                                .main__books-wrapper
                                    img(src=imgurl alt="image")
                                    p.books__title= title
                                    p.books__author= author
                .bookshelf__read
                    for item in results
                        if item['Books.UserBook.status'] == 'read'
                            - var imgurl = item['Books.img_url']
                            - var title = item['Books.title']
                            - var author = item['Books.author']
                                .main__books-wrapper
                                    img(src=imgurl alt="image")
                                    p.books__title= title
                                    p.books__author= author
                .bookshelf__want-to-read
                    for item in results
                        if item['Books.UserBook.status'] == 'wantToRead'
                            - var imgurl = item['Books.img_url']
                            - var title = item['Books.title']
                            - var author = item['Books.author']
                                .main__books-wrapper
                                    img(src=imgurl alt="image")
                                    p.books__title= title
                                    p.books__author= author
                                    
block footerscripts
