extends ../layouts/layout

block headerscripts

block content
    #main
        .sidebar__profile
            .sidebar__profile-wrapper
                .sidebar__profile-avatar
                    img(src=profileImage alt="profile image")
                .sidebar__profile-info
                    h3.profile__name= username
                    p.profile__info Female
                    p.profile__location Atlanta, GA
                    button.profile__message Message
        .main__books
            h1 Bookshelf 
            .main__bookshelf
                .bookshelf__reading
                    for item in results
                        if item['Books.UserBook.status'] == 'reading'
                            - var imgurl = item['Books.img_url']
                            - var title = item['Books.title']
                            - var author = item['Books.author']
                                .main__books-wrapper
                                    img(src=imgurl alt="image")
                                    p.books__title= title
                                    p.books__author= author
                .bookshelf__read
                    for item in results
                        if item['Books.UserBook.status'] == 'read'
                            - var imgurl = item['Books.img_url']
                            - var title = item['Books.title']
                            - var author = item['Books.author']
                                .main__books-wrapper
                                    img(src=imgurl alt="image")
                                    p.books__title= title
                                    p.books__author= author
                .bookshelf__want-to-read
                    for item in results
                        if item['Books.UserBook.status'] == 'wantToRead'
                            - var imgurl = item['Books.img_url']
                            - var title = item['Books.title']
                            - var author = item['Books.author']
                                .main__books-wrapper
                                    img(src=imgurl alt="image")
                                    p.books__title= title
                                    p.books__author= author
        .sidebar__users
                                    
block footerscripts
